@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

@foreach (var x in Model.Book)
{//This model pushes out to the index page what is in the database! Here a cool thing we are doing is the partial view which makes for resusibilty of code!
    <partial name="ProjectSummary" model="x" />
}
<br />

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>
